@model BlogProject.SERVICE.DTOs.UserPasswordChanceDTO

@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="AppUser" asp-action="PasswordChange">Şifre Değiştir</a></li>
</ol>
<div class="row">
    <div class="col-lg-6">
        <div class="card mt-3">
            <div>
                <h4 class="text-center"><span class="fas fa-key"></span>Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-controller="AppUser" asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label">@Html.DisplayNameFor(model => model.CurrentPassword)</label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">@Html.DisplayNameFor(model => model.NewPassword)</label>
                        <input type="password" class="form-control" asp-for="NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword" class="control-label">@Html.DisplayNameFor(model => model.RepeatPassword)</label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" />
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary mt-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>