@{
    ViewData["Title"] = "Email Onaylandı";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h2>Hesabınız başarıyla onaylanmıştır!</h2>
            <p>Artık makale yazabilir, yorum bırakabilirsiniz.</p>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Ana Sayfaya Git</a>
        </div>
    </div>
</div>
