@model BlogProject.SERVICE.DTOs.CommentDTO

<div class="card mb-4 mt-3">
    <div class="card-header">
        <i class="fas fa-edit me-1"></i>
        Yorum Düzenle
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Content" class="form-label">
                    @Html.DisplayNameFor(model => model.Content)
                </label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                <a asp-controller="AppUser" asp-action="UserComments" class="btn btn-outline-danger">İptal</a>
            </div>
        </form>
    </div>
</div>