@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<section class="page-section">
    <div class="page-container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header mb-4">Gizlilik Politikası</h1>
                <p class="page-paragraph">Proje Adı olarak gizliliğinizi ciddiye alıyoruz ve verilerinizin güvenliğini sağlamak için gerekli tüm önlemleri alıyoruz. Bu politika, kişisel bilgilerinizin nasıl toplandığını, kullanıldığını ve korunduğunu açıklamaktadır.</p>

                <h3 class="page-subheader">Toplanan Bilgiler</h3>
                <p class="page-paragraph">Platformumuza kaydolurken, adınız, e-posta adresiniz, iletişim bilgileriniz gibi kişisel bilgilerinizi toplayabiliriz. Ayrıca, siteyi kullanım şekliniz ve gezinme davranışlarınızla ilgili bazı anonim verileri otomatik olarak toplayabiliriz.</p>

                <h3 class="page-subheader">Bilgilerin Kullanımı</h3>
                <p class="page-paragraph">Toplanan kişisel bilgileri, size daha iyi bir kullanıcı deneyimi sunmak, taleplerinize yanıt vermek ve hizmetlerimizi geliştirmek amacıyla kullanıyoruz. Verilerinizi asla üçüncü şahıslarla izinsiz olarak paylaşmayız.</p>

                <h3 class="page-subheader">Bilgi Güvenliği</h3>
                <p class="page-paragraph">Verilerinizi yetkisiz erişime karşı korumak için güncel güvenlik önlemleri kullanıyoruz. Ancak, internet üzerinden gerçekleşen veri aktarımının her zaman tamamen güvenli olmadığını ve bu nedenle gönderdiğiniz bilgilerin güvenliğini garanti edemeyeceğimizi bilmelisiniz.</p>

                <h3 class="page-subheader">Çerezler (Cookies)</h3>
                <p class="page-paragraph">Web sitemizde gezinmenizi iyileştirmek amacıyla çerezler kullanıyoruz. Çerezler, tarayıcınıza kaydedilen küçük dosyalardır ve sitenin performansını artırmaya yardımcı olur. Tarayıcı ayarlarından çerezleri reddetme seçeneğiniz bulunmaktadır.</p>

                <h3 class="page-subheader">Üçüncü Taraf Bağlantıları</h3>
                <p class="page-paragraph">Web sitemiz, üçüncü taraf web sitelerine bağlantılar içerebilir. Bu web sitelerinin gizlilik uygulamalarından sorumlu değiliz. Bu nedenle, herhangi bir üçüncü taraf web sitesini ziyaret ettiğinizde ilgili sitenin gizlilik politikasını gözden geçirmenizi öneririz.</p>

                <h3 class="page-subheader">Değişiklikler</h3>
                <p class="page-paragraph">Bu Gizlilik Politikası, zaman zaman güncellenebilir. Yapılacak değişiklikler, bu sayfa üzerinde yayımlandığında yürürlüğe girer. Gizlilik politikamızı düzenli olarak gözden geçirmenizi öneririz.</p>

                <h3 class="page-subheader">İletişim</h3>
                <p class="page-paragraph">Eğer gizlilik politikamız hakkında herhangi bir sorunuz veya endişeniz varsa, lütfen bizimle iletişime geçin: <a href="mailto:eckayril@gmail.com" class="page-link">eckayril@gmail.com</a>.</p>
            </div>
        </div>
    </div>
</section>
