@model IEnumerable<BlogProject.SERVICE.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Kategoriler";
}

<div class="author-header d-flex justify-content-center align-items-center mt-5 mb-5">
    <h1>Kategoriler</h1>
</div>
<div class="mt-5">
    @foreach (var category in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">@category.Name</h3>
                <p class="card-text">@category.Description</p>
                <a asp-controller="Category" asp-action="Detail" asp-route-id="@category.Id" class="btn btn-outline-primary">Keşfet</a>
            </div>
        </div>
    }
</div>
